/files/
/武汉千硕优秀园丁部.htm
/武汉千硕优秀园丁部.mht
/考查.md
/附件1：第五届“北大青鸟杯”全国IT精英挑战赛报名表.xls
/第五届“北大青鸟杯”全国IT精英挑战赛——软件组参赛说明.doc
/附件2：XXX客户关系管理系统需求分析说明书(样例).doc
/附件3：第五届“北大青鸟杯”全国IT精英挑战赛—中心评审标准（软件组）.xls
/附件4：中心评审PPT模板已上传校区管理平台.txt
/附件5：第五届“北大青鸟杯”全国IT精英挑战赛—中心项目进度控制表（软件组，中心内部使用）.xls
/附件6：第五届“北大青鸟杯”全国IT精英挑战赛中心评审优秀项目.xls
