<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ClassroomMapper">
  <resultMap id="BaseResultMap" type="com.entity.Classroom">
    <id column="classRoomId" jdbcType="INTEGER" property="classroomid" />
    <result column="availableNum" jdbcType="INTEGER" property="availablenum" />
    <result column="classState" jdbcType="INTEGER" property="classstate" />
    <result column="room_name" jdbcType="VARCHAR" property="roomName" />
  </resultMap>
  <sql id="Base_Column_List">
    classRoomId, availableNum, classState, room_name
  </sql>
  
    <!-- 得到指定状态的教室 -->
  <select id="getAllRoomByState" resultMap="BaseResultMap" parameterType="java.lang.Integer">
  	select * from classroom where classState=#{state}
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from classroom
    where classRoomId = #{classroomid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from classroom
    where classRoomId = #{classroomid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.entity.Classroom">
    insert into classroom (classRoomId, availableNum, classState, 
      room_name)
    values (#{classroomid,jdbcType=INTEGER}, #{availablenum,jdbcType=INTEGER}, #{classstate,jdbcType=INTEGER}, 
      #{roomName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.entity.Classroom">
    insert into classroom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classroomid != null">
        classRoomId,
      </if>
      <if test="availablenum != null">
        availableNum,
      </if>
      <if test="classstate != null">
        classState,
      </if>
      <if test="roomName != null">
        room_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classroomid != null">
        #{classroomid,jdbcType=INTEGER},
      </if>
      <if test="availablenum != null">
        #{availablenum,jdbcType=INTEGER},
      </if>
      <if test="classstate != null">
        #{classstate,jdbcType=INTEGER},
      </if>
      <if test="roomName != null">
        #{roomName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.entity.Classroom">
    update classroom
    <set>
      <if test="availablenum != null">
        availableNum = #{availablenum,jdbcType=INTEGER},
      </if>
      <if test="classstate != null">
        classState = #{classstate,jdbcType=INTEGER},
      </if>
      <if test="roomName != null">
        room_name = #{roomName,jdbcType=VARCHAR},
      </if>
    </set>
    where classRoomId = #{classroomid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.entity.Classroom">
    update classroom
    set availableNum = #{availablenum,jdbcType=INTEGER},
      classState = #{classstate,jdbcType=INTEGER},
      room_name = #{roomName,jdbcType=VARCHAR}
    where classRoomId = #{classroomid,jdbcType=INTEGER}
  </update>
</mapper>